<!--Display only if image is false-->
<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>

<h1><%= @portfolio_item.title %></h1>
<!--For testing purposes. Display data in the variable-->
<p><%= @portfolio_item.inspect %></p>
<p><%= @portfolio_item.subtitle %></p>
<p><%= @portfolio_item.body %></p>




